{% extends 'base.html' %}


{% block content %}
<head>
    <style>
        h1{
            font-family: 'Courier New', Courier, monospace;
            font-size: 35px;
            font-weight: bold;
            color: brown;
            margin: 20px;
         
        }
        p{
            width: 65%;
            height: 100%;
            text-align: justify;
            margin: 20px;
        }
        .img{
            float: right;
          width: 30%;
          height: 500px;
          margin-top: -700px;
        }
        
    </style>
</head>
<h1> About Us</h1>
<p>LIVEWIRE – A Division of CADD Centre Training Services Pvt Ltd, is an approved Skill Development Partner of National Skill Development Corporation (NSDC). LIVEWIRE promotes a unique combination of technologies that are specific to IT, Computer science, Electronics & Electrical departments. We deal with Emerging technologies like Data science, Machine Learning, IoT, Artificial Intelligence, Blockchain, Full Stack Developer, Cyber security, Automotive Embedded system and many more. LIVEWIRE is present in more than 100 locations in India and over 7 countries.
<br><br>
LIVEWIRE credential includes its affiliation like NSDC, STED Council, MSME, ISO (9001:2015 & 29990:2010), NIELIT, AXELOS, Oracle, CompTIA, Blockchain Council etc. LIVEWIRE works closely with more than 1000 colleges in India as a technology partner in equipping students beyond their academics and also with few corporate clients for their training requirements.
<br><br>
The curricula are prepared with inputs from the product companies and industry experts. The training is offered by instructors who are trained by the Product developers and industry experts. Our training centre boast of high-end hardware and sophisticated technology labs that are modelled on real world R&D units of industries.
</p>
<img class="img" src="https://www.livewireindia.com/images/loan.jpg" alt="">
{% endblock %}