<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livewire</title>
    <style>
        .ft{
            height: 60px;
            background-color: rgb(247, 215, 176);
           
                  
            }
        .ft1{
            margin-left: 630px;
            color: brown;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
           
            }
      </style>
</head>
<body>
    <nav class="ft">
        <p class="ft1">Contact Us:-<i class="fa fa-phone"></i>
        +91 6262474111
        <i class="fa fa-envelope"></i>livewireindore3@gmail.com</p>
      </nav>
    
</body>
</html>