{% extends 'base.html'%}
{%block content%}


<style>
	table{
		width: 100%;
	}
th,td,tr{
border:2px solid crimson;
height: 50px;
width: 200px;
text-align: center;}

h3{
color:crimson}
th{
color:crimson}
button{
	border: none;
	background-color: crimson;
	color: white;
	border-radius: 20px;
}
a{
	text-decoration: none;
}
</style>
<h3 align="center">All are Your Valueable Feedbacks Here</h3>
<table align="center" id="table">

  <thead>
     <tr>
        <th>Title</th>
		<th>Description</th>
		<th>Name</th>
		<th>Created at</th>
		<th>Updated at</th>
		<th>Update/Delete</th>
     </tr>	 
  
  </thead>
  
  <tbody>
  
  {%for todo in todos%}
     <tr>
	   <td>{{todo.title}}</td>
	   <td>{{todo.description}}</td>
	   <td>{{todo.name}}</td>
	   <td>{{todo.created_at}}</td>
	   <td>{{todo.updated_at}}</td>
	   <td>
	    <a href="{%url 'todo:todoedit' todo.id%}">
		<button>Update</button></a>
		
		<a href="{%url 'todo:tododelete' todo.id%}">
		<button >Delete</button></a>
	   
	   </td>
	 
	 
	 </tr>
  {%endfor%}
  </tbody>

</table>
<br><br>
<button><a id="downloadLink" onclick="exportF(this)">Download into Excel</a></button>


<script>
function exportF(elem) {
  var table = document.getElementById("table");
  var html = table.outerHTML;
  var url = 'data:application/vnd.ms-excel,' + escape(html); // Set your html table into url 
  elem.setAttribute("href", url);
  elem.setAttribute("download", "export.xls"); // Choose the file name
  return false;
}

</script>

{%endblock%}