{% extends 'base.html' %}



{% block content %}
<head>
    <style>
        form{
            margin-left: 600px;
            color: blue;
            font-size: 20px;
        }
        button{
            background-color: blue;
            color: white;
            font-size: 20px;
        }

    </style>
</head>
<form method="post">
    {%csrf_token%} 
    <p>Are You Sure ?</p>
    <p>Yes I want to delete"{{todo.title}}"</p>
    <button style="border-radius: 20px;" type="submit" name="tododelete">Delete</button>
    
</form>
<a href="http://127.0.0.1:8000/todos/">Go Back</a>
{% endblock %}